<!DOCTYPE html>{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/bootstrap-5.0.2-dist/css/bootstrap.css">
    <link rel="stylesheet" href="/static/css/about.css">

    <title>About</title>
</head>
<body>
<div class="container-fluid ">
    <div class="row navbar  "
         style=" position:fixed;   background-color: white; left:0px; padding:10px 250px; width:100%;">
        <div class="col-12 col-md-6 col-sm-6 navbar-icon"><a href="/">Jamoliddin's Blog</a></div>
        <div class="col-12 col-md-6 col-sm-6 navbar-link">
            <div><a href="/about/">About</a></div>
            <div><a href="/blog/">Blog</a></div>
            <div><a href="https://t.me/+R98WgdAnEww1ZTFi">Telegram</a></div>
        </div>
    </div>
    <div style="padding-top:100px" class="row aboutme">
        <div class="col-12">
            <h1>ABOUT ME</h1>
        </div>
    </div>
    <div class="row main" style="text-align: center;">
        <div class="col-12"
             style="width: 80%; height: auto; margin:0px auto; padding:0px 250px;  ">
            <p>I am Jamoliddin Tirkashaliyev, 20 years old, Backend Developer, Namangan, Uzbekistan, currently living in
                Fergana.
                <br>
                <br>
                I am always contributing to developer events by giving a talkor as a mentor, especially the ones that
                engage men in tech.As a developer, I really want to see more diversity in theindustry.</p>
            <img src="/static/2.jpg" alt="">
            <h5>Django, Fergana</h5>
            <br>
            <p>Recently I experimented working standing and found it really useful to stay focused and a little
                healthier. I was able to transform my workstation with the books I read.</p>
            <img src="/static/3.jpg" alt="">
            <h5>Super Dispatch, Fergana office</h5>
            <br>
            <p>I am also called a <b>"lazy programmer"</b>, which is a very convenient nature for programmers. I love
                repetitive tasks, I see them as opportunities for automation. In addition, I am interested in sales, so
                I often have to work on the street and on the phone.</p>
            <img src="/static/4.jpg" alt="">
            <h5>Codeal Academic, Fergana</h5>
            <br>
            <p>In short, I'm Jamoliddin, a friendly programmer from Uzbekistan. You can read my story about becoming a
                backend developer.</p>
        </div>
    </div>
    <div class="footer" style="text-align: center;">
        <p style="width: 80%; height: auto; margin:0px auto; padding:0px 250px;  ">© 2024 jamoliddin.com</p>
    </div>
</div>
</body>
</html>